<footer class="py-5 my-5">
  <div class="footerC pb-5">
    <ul class="nav border-top border-bottom ps-4 pb-5 pl-5">
      <li class="nav-item mt-3 me-sm-3">
        <button class="menus" (click)="home()">Inicio</button>
      </li>
      <li class="nav-item mt-3 me-3">
        <button class="menus" (click)="buscador()">Buscador</button>
      </li>
      <li class="nav-item mt-3 me-3">
        <button class="menus" (click)="cuenta()">Mi cuenta</button>
      </li>
      <li class="nav-item mt-3 me-3">
        <button class="menus">FAQ</button>
      </li>
      <li class="nav-item mt-3 me-3">
        <button class="menus">Política de privacidad</button>
      </li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 HELP!</p>
  </div>
</footer>
