<div class="container">
  <a href="detalleComercio.html" class="nav-link">
    <div class="card mt-4 mb-3" style="max-width: 400px">
      <div class="row">
        <div class="col-4">
          <img
            class="card-img-top"
            src="./assets/images/image.png"
            alt="Card image cap"
          />
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Nombre del comercio</h5>
            <p class="card-text">
              Lorem Ipsum is simply dummy text of the printing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="detalleComercio.html" class="nav-link">
    <div class="card mt-4 mb-3" style="max-width: 400px">
      <div class="row">
        <div class="col-4">
          <img
            class="card-img-top"
            src="./assets/images/image.png"
            alt="Card image cap"
          />
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Nombre del comercio</h5>
            <p class="card-text">
              Lorem Ipsum is simply dummy text of the printing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="detalleComercio.html" class="nav-link">
    <div class="card mt-4 mb-3" style="max-width: 400px">
      <div class="row">
        <div class="col-4">
          <img
            class="card-img-top"
            src="./assets/images/image.png"
            alt="Card image cap"
          />
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Nombre del comercio</h5>
            <p class="card-text">
              Lorem Ipsum is simply dummy text of the printing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
