<div class="container">
  <h3 class="mb-3">Nombre comercio</h3>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS DE ACCESO</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>Email: prueba@prueba.com</p>
      <p>Password: *************</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS COMERCIO</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img
        class="img-fluid"
        src="./assets/images/imagen_com.png"
        alt=""
        width="120"
        height="120"
      />
    </div>
    <div class="col-6">
      <p class="mb-0">Nombre, Apellidos</p>
      <p class="mb-0">Nombre comercio</p>
      <p class="mb-0">Categoría</p>
      <p class="mb-0">Descripción</p>
      <p class="mb-0"><span>Web</span> -<span>Teléfono</span></p>
      <p>Municipio Provincia Código postal</p>
    </div>
    <div class="col-3">
      <img
        class="img-fluid"
        src="./assets/images/mapa.png"
        alt=""
        width="120"
        height="120"
      />
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">HORARIOS</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mb-0">Lunes a Viernes de 9:00 a 16:00</p>
      <p>Sábados y Domingos de 10:00 a 14:00</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DÍAS DE APERTURA</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mb-0">Domingo, 11 de Diciembre</p>
      <p>Domingo, 18 de Diciembre</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">PRODUCTOS</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>Producto1, Producto2 y Producto3</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">MENSAJES</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mb-0">
        Mensaje1 enviado por el comercio para que lo vea el cliente.
      </p>
      <p>Mensaje2 enviado por el comercio para que lo vea el cliente.</p>
    </div>
  </div>
</div>
