<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <button class="menu-breadcrumb" (click)="home()">Inicio</button>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Mi cuenta</li>
  </ol>
</nav>
<div class="container">
  <h3 class="mb-3">{{ comercio.nombreComercio }}</h3>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS DE ACCESO</span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mt-2"><strong> Email:</strong> {{ comercio.email }}</p>
      <p class="mb-4"><strong>Password:</strong> *************</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS COMERCIO</span>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <img
        src="./assets/images/comercio.png"
        alt="imagen www.freepik.es"
        class="d-block w-100"
        class="img-fluid img-thumbnail"
        title="imagen obtenida de la web www.freepik.es"
      />
    </div>
    <div class="col-10">
      <p class="mb-1">
        <strong>Nombre comercio:</strong> {{ comercio.nombreComercio }}
      </p>
      <p class="mb-1">
        <strong>Descripción:</strong> {{ comercio.descripcion }}
      </p>
      <p class="mb-1"><strong>Categoría:</strong> {{ comercio.categoria }}</p>
      <p class="mb-1">
        <strong>Encargado:</strong> {{ comercio.nombre }}
        {{ comercio.apellidos }}
      </p>
      <p class="mb-1"><strong>Dirección:</strong> {{ comercio.direccion }}</p>
      <p class="mb-1"><strong>Provincia:</strong> {{ comercio.provincia }}</p>
      <p class="mb-1"><strong>Municipio:</strong> {{ comercio.municipio }}</p>
      <p class="mb-1">
        <strong>Código postal:</strong> {{ comercio.codigopostal }}
      </p>
      <p class="mb-1"><strong>Web:</strong> {{ comercio.web }}</p>
      <p class="mb-4"><strong>Teléfono:</strong> {{ comercio.telefono }}</p>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-2">
      <button
        (click)="updateComercio(comercio.idComercio)"
        type="button"
        class="btn btn-form"
      >
        Editar
      </button>
    </div>
  </div>
</div>
