<div class="container">
  <h3 class="mb-3">Nombre cliente</h3>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS DE ACCESO</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>Email: prueba@prueba.com</p>
      <p>Password: *************</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS PERSONALES</span>
      <span><i class="bi bi-pencil-fill"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mb-0">Nombre, Apellidos</p>
      <p>Municipio Provincia Código postal</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-1">COMERCIOS FAVORITOS</span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mb-1">
        <a class="nav-link" href="#"><strong>Nombre comercio 1</strong></a>
      </p>
      <p class="mb-1">
        <a class="nav-link" href="#"><strong>Nombre comercio 2</strong></a>
      </p>
      <p class="mb-1">
        <a class="nav-link" href="#"><strong>Nombre comercio 3</strong></a>
      </p>
    </div>
  </div>
</div>
