<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <button class="menu-breadcrumb" (click)="home()">Inicio</button>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Mi cuenta</li>
  </ol>
</nav>
<div class="container mt-5">
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS DE ACCESO</span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mt-2"><strong>Email:</strong> {{ cliente.email }}</p>
      <p class="mb-4"><strong>Password:</strong> *************</p>
    </div>
  </div>
  <div class="row rowsty mb-2">
    <div class="col-8">
      <span class="me-2">DATOS PERSONALES</span>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mt-2"><strong>Nombre:</strong> {{ cliente.nombre }}</p>
      <p class="mt-2"><strong>Apellidos:</strong> {{ cliente.apellidos }}</p>
      <p class="mt-2"><strong>Municipio:</strong> {{ cliente.municipio }}</p>
      <p class="mb-3"><strong>Provincia: </strong>{{ cliente.provincia }}</p>
      <p class="mb-4">
        <strong>Código postal:</strong> {{ cliente.codigopostal }}
      </p>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-2">
      <button
        (click)="updateCliente(cliente.idCliente)"
        type="button"
        class="btn btn-form"
      >
        Editar
      </button>
    </div>
  </div>
</div>
