<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <button class="menu-breadcrumb" (click)="home()">Inicio</button>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Mensajes</li>
  </ol>
</nav>
<div class="container mt-5">
  <div class="container mt-5">
    <div class="row rowsty mb-2">
      <div class="col-8">
        <span class="me-1">MENSAJES DE COMERCIOS FAVORITOS</span>
      </div>
    </div>
    <table class="table">
      <thead class="thead-light" *ngIf="mensajes">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Nombre Comercio</th>
          <th scope="col"></th>
          <th scope="col">Mensaje</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mensaje of mensajes">
          <td class="col-sm-2">{{ mensaje.updated_at | formatDate : 3 }}</td>
          <td class="col-sm-3">
            <button class="link-fav" (click)="comercioview(mensaje.idComercio)">
              {{ mensaje.nombreComercio }}
            </button>
          </td>
          <td class="col-sm-1">
            <button
              class="link-fav"
              (click)="
                noVerMensajes(mensaje.idFavorito, mensaje.nombreComercio)
              "
            >
              <i class="bi bi-eye-slash-fill"></i>
            </button>
          </td>
          <td class="col-sm-6">{{ mensaje.mensaje }}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="row mt-5"
      class="alert alert-warning"
      role="alert"
      *ngIf="nomensajes"
    >
      <p>{{ nomensajes }}</p>
    </div>
    <div class="row rowsty mt-5">
      <div class="col-8">
        <span class="me-1">ACTIVAR MENSAJES DE COMERCIOS FAVORITOS</span>
      </div>
    </div>
    <div class="col-8 mt-2">
      <div *ngFor="let favorito of favoritos">
        <p *ngIf="favorito.verMensajes == 'NO'">
          {{ favorito.nombreComercio }}
          <button
            class="link-fav"
            (click)="siVerMensajes(favorito.id, favorito.nombreComercio)"
          >
            <i class="bi bi-eye-fill"></i>
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
